﻿
@{
    ViewBag.Title = "Test - Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    <div>
        @Html.ActionLink("Test Annex VI import", "TestImportAnnexVIExcel") <br />
        @Html.ActionLink("Test lists","Index","TestList")
    </div>
