﻿@model System.Collections.Generic.List<ChemicalSubstancesInventory.Model.Entities.HazardClass>

@{
    ViewBag.Title = "TestList - HazardClasses";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>@item.EnglishName</span>
                <ul>
                    @foreach (var item2 in item.HazardClassCategories)
                    {
                        <li>
                            <span>@item2.HazardCategoryCode</span>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
