﻿@model System.Collections.Generic.List<ChemicalSubstancesInventory.Model.Entities.GhsHazardStatement>

@{
    ViewBag.Title = "TestList - HazardStatements";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    @foreach (var item in Model)
    {
        <p>
            <span>@item.GhsHazardStatementCode</span>
            <span>:</span>
            <span>@item.EnglishText</span>
        </p>
    }
</div>