﻿
@{
    ViewBag.Title = "TestList - Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>
    @Html.ActionLink("Hazard statements list", "HazardStatements") <br />
    @Html.ActionLink("Hazard classes list", "HazardClasses") <br />
    @Html.ActionLink("Substances list", "Substances") <br />
</div>
