﻿@model System.Collections.Generic.List<ChemicalSubstancesInventory.Model.Entities.Substance>



@{
    ViewBag.Title = "TestList - Substances";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>
    @foreach (var item in Model)
    {
        <div>

            <h1>@item.IupacName</h1>
            <p>
                <span>CAS:</span>
                <span>@item.CasNumber</span>
            </p>

            <p>
                <span>EC:</span>
                <span>@item.EcNumber</span>
            </p>
            <ul>
                @foreach (var item2 in item.GhsHazardPictograms)
                {
                    <li>@item2.GhsPictogramCode</li>
                }
            </ul>

            <ul>
                @foreach (var item2 in item.GhsHazardStatements)
                {
                    <li>@item2.GhsHazardStatementCode</li>
                }
            </ul>

            <ul>
                @foreach (var item2 in item.HazardClassCategories)
                {
                    <li>@item2.HazardCategoryCode</li>
                }
            </ul>

        </div>
    }
</div>