﻿@model ChemicalSubstancesInventory.MvcApp.Models.ViewModels.TestPictogramIndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestPictogram - Index</title>
    <style>
        div.pictogram-item-div svg {
            width: 5cm;
            height: 5cm;
            position: absolute;
            left: 1cm;
            top: 0.5cm;
        }

        div.pictogram-item-div {
            height: 6cm;
            position: relative;
        }

            div.pictogram-item-div div.pictogram-description {
                position: absolute;
                left: 7cm;
                bottom: 2.5cm;
                line-height: 1cm;
                height: 1cm;
                width: 6cm;
            }
    </style>
</head>
<body>
    <div>
        @foreach (var pictogram in Model.Pictograms)
        {
            <div class="pictogram-item-div">
                <div class="pictogram-description">@pictogram.Code @pictogram.Description</div>
                @pictogram.Svg
            </div>
        }
    </div>
</body>
</html>
