﻿
@model ChemicalSubstancesInventory.MvcApp.Models.ViewModels.SubstanceEditViewModelPictogram

<style>
    div svg {
        height: 1cm;
        width: 1cm;
        display: inline-block
    }
</style>

<div>
    @Html.CheckBoxFor(q => q.Chosen)
    @Model.GhsPictogramCode
    @Html.Action(MVC.GhsHazardPictogram.TranslatedNameString(Model.GhsHazardPictogramId))
    @Html.Action(MVC.GhsHazardPictogram.SvgString(Model.GhsHazardPictogramId))
    @Html.HiddenFor(q => q.GhsHazardPictogramId)
    @Html.HiddenFor(q => q.GhsPictogramCode)
    @Html.HiddenFor(q => q.Name)
</div>




