﻿@model ChemicalSubstancesInventory.MvcApp.Models.ViewModels.TestSubstanceListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @foreach (var substance in Model.Substances)
        {
            @substance.Name
        }
    </div>
</body>
</html>
