﻿@using System.Resources;

@{
    var _resource = new ResourceManager(typeof(ChemicalSubstancesInventory.MvcApp.Views.Shared.SharedViewsResources));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 5rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink(_resource.GetString("InventoryLinkText"), MVC.Home.Index(), new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Labelling", MVC.Label.Index(), new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Testing", MVC.Test.Index(), new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    @Html.ActionLink(_resource.GetString("RegistriesLinkText"), MVC.Home.WorkInProgress(), new { @class = "nav-link  dropdown-toggle", id = "dropdown02", data_toggle = "dropdown", aria_haspopup = "true", aria_expanded = "false" })
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        @Html.ActionLink(_resource.GetString("RegistrySubstancesLinkText"), MVC.Substance.List(), new { @class = "dropdown-item" })
                        @Html.ActionLink(_resource.GetString("RegistryHazardClassesLinkText"), MVC.Home.WorkInProgress(), new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Polski",MVC.Home.ChangeCulture(ChemicalSubstancesInventory.MvcApp.Models.Enums.CsiCultureEnum.pl, this.Request.RawUrl), new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("English", MVC.Home.ChangeCulture(ChemicalSubstancesInventory.MvcApp.Models.Enums.CsiCultureEnum.en, this.Request.RawUrl), new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">

        @RenderBody()

    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
