﻿@model ChemicalSubstancesInventory.MvcApp.Models.ViewModels.SubstanceEditViewModel
@using ChemicalSubstancesInventory.MvcApp.Models.Enums
@using System.Resources;


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var _resource = new ResourceManager(typeof(ChemicalSubstancesInventory.MvcApp.Views.Shared.SharedViewsResources));
}

<style>
    h1 {
        text-transform: capitalize;
        }
    .container div {
        border: 1px solid #343a40;
        padding: 10px;
    }

    .container div p {
        margin: 5px;
    }
    .container div ul:nth-child(1) {
          style-list: none;
    }
    .container div ul:nth-child(1) li {
        border: 5px solid red;
            width: 36px;
            height: 36px;
        }
</style>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false);
    @Html.HiddenFor(q => q.SubstanceId)
    <div>
        <p>
            @Html.LabelFor(q => q.CasNumber): @Html.EditorFor(q => q.CasNumber)
        </p>

        <p>
            @Html.LabelFor(q => q.EcNumber): @Html.EditorFor(q => q.EcNumber)
        </p>

        <p>
            @Html.LabelFor(q => q.IupacName): @Html.EditorFor(q => q.IupacName)
        </p>

        <p>
            @Html.LabelFor(q => q.GhsSignalWordEnumValue): @Html.DropDownListFor(q => q.GhsSignalWordEnumValue, Model.GhsSignalWordEnumValue.GetLocalisedSelectList())
        </p>

        <div>
            @Html.LabelFor(q => q.Pictograms):
            <div style="border-style: solid; height: 10em; overflow: scroll">
                @Html.EditorFor(q => q.Pictograms)
            </div>
        </div>

        <input type="submit" value=@_resource.GetString("SaveLinkText") />
        @Html.ActionLink(_resource.GetString("CancelLinkText"), MVC.Substance.Index())
    </div>
}
