﻿@model ChemicalSubstancesInventory.MvcApp.Models.ViewModels.SubstanceListViewModel
@using ChemicalSubstancesInventory.Model.Enums
@using System.Resources;


@{

    ViewBag.Title = "Substances";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var _resource = new ResourceManager(typeof(ChemicalSubstancesInventory.MvcApp.Views.Shared.SharedViewsResources));
}

<style>
    h1 {
        text-transform: capitalize;
    }

    .container div {
        border: 1px solid #343a40;
        padding: 10px;
        border-radius: 5px;
    }

        .container div p {
            margin: 5px;
        }

        .container div div ul:nth-of-type(1) {
            list-style: none;
        }


            /*.container > div:nth-child(3) > div:nth-child(1) > ul:nth-child(6) > li:nth-child(1)*/
            .container div div ul:nth-of-type(1) li:nth-child(even) {
                /*padding: 4px;
        padding-top: 4px;
        padding-top: 16px;
        margin-bottom: 10px;*/
                display: inline-block;
            }

            .container div div ul:nth-of-type(1) li:nth-child(odd) {
                margin-bottom: 10px;
                display: inline-block;
            }

    .container svg {
        width: 100px;
        height: 100px;
    }

    .container div form input.delete_button {
        width: 100%;
        text-align: center;
        background-color: red;
        color: white;
        padding: 12px 20px;
        margin: 14px 0 8px 0;
        display: inline-block;
        border: none;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px #ddd;
    }

    .container div form input.edit_button {
        width: 100%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        margin: 14px 0 8px 0;
        display: inline-block;
        border: none;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px #ddd;
    }
</style>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div>
        @Model.Message
    </div>
}


<div>
    Dodaj

</div>

<div>
    @foreach (var item in Model.SubstanceList)
    {
        <div>

            <h1>@item.IupacName</h1>

            <p>
                <span>@Html.LabelFor(q => q.SubstanceList[0].EcNumber):</span>
                <span>@item.EcNumber</span>
            </p>

            <p>
                <span>@Html.LabelFor(q => q.SubstanceList[0].CasNumber):</span>
                <span>@item.CasNumber</span>
            </p>

            <p>
                <span>@Html.LabelFor(q => q.SubstanceList[0].GhsSignalWordEnumValue):</span>
                <span>@item.GhsSignalWordEnumValue.GetDescription()</span>
            </p>

            <span>@Html.LabelFor(q => q.SubstanceList[0].GhsHazardPictograms):</span>
            <ul>

                @foreach (var item2 in item.GhsHazardPictograms)
                {                    
                    <li>@Html.Action(MVC.GhsHazardPictogram.SvgString(item2.GhsHazardPictogramId))</li>
                    <li>@item2.GhsPictogramCode</li>
                }
            </ul>
            <span>GHS hazard statements:</span>
            <ul>

                @foreach (var item2 in item.GhsHazardStatements)
                {
                    <li>@item2.GhsHazardStatementCode</li>
                }
            </ul>

            <span>GHS hazard categories:</span>
            <ul>

                @foreach (var item2 in item.HazardClassCategories)
                {
                    <li>@item2.HazardCategoryCode</li>
                }
            </ul>

            @using (Html.BeginForm(MVC.Substance.Delete(item.SubstanceId)))
            {
                <input class="delete_button" type="submit" value=@_resource.GetString("DeleteLinkText") />
            }

            @using (Html.BeginForm(MVC.Substance.Edit(item.SubstanceId), FormMethod.Get))
            {
                <input class="edit_button" type="submit" value=@_resource.GetString("EditLinkText") />
            }

        </div>
    }
</div>

